<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="864211180894-j6gi171f9qqiufgdes4u6qonq1aq32o2.apps.googleusercontent.com">

<form >
    <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content form-elegant">
                <!--Header-->
                <div class="modal-header text-center">
                    <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign in</strong></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body mx-4">
                    <!--Body-->
                    <div class="md-form mb-5">
                        <input type="text" name="UserName" id="UserName" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="Form-email1">Your email</label>
                    </div>

                    <div class="md-form pb-3">
                        <input type="password" id="Password" name="Password" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="Form-pass1">Your password</label>
                        <p class="font-small blue-text d-flex justify-content-end">
                            Forgot <a href="#" class="blue-text ml-1">
                                Password?
                            </a>
                        </p>
                    </div>
                    <div class="submit-agileits">
                        <input class="login" value="Login" type="submit" onclick="display();">
                    </div>
                    <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2">
                        or Sign in
                        with:
                    </p>

                    <div class="row my-3 d-flex justify-content-center">
                        <!--Facebook-->
                        <a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=2616496368393300&kid_directed_site=0&app_id=2616496368393300&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fv2.8%2Fdialog%2Foauth%3Fresponse_type%3Dcode%26client_id%3D2616496368393300%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%253A60976%252Fsignin-facebook%26scope%3Dpublic_profile%252Cemail%26state%3D-3UUHCIl6s_IEyIkDdLLakHdrqXXDilF7Cgdw1wbeMQ2YmhBE3VSUSqGjEiEO-iS1A7ZtAIgnaKnsgy9Trl2nJyFNydOJzmchL2wH2XWfSctpnlqUgELeF2B30PoFOJpyY-XZLyK6mTy7BFlRmOZnIAJzlFhKqTOPgkUgqgLwRCmpXH9HdBvHbTqxQNm1AL7oAZ_XL9lCFx1OGU7-955p-1GJ_Z3Zs5iQFpEb8KGpC8%26ret%3Dlogin%26fbapp_pres%3D0%26logger_id%3Dcec77e36-347c-4e85-aefd-162c35e17b02&cancel_url=http%3A%2F%2Flocalhost%3A60976%2Fsignin-facebook%3Ferror%3Daccess_denied%26error_code%3D200%26error_description%3DPermissions%2Berror%26error_reason%3Duser_denied%26state%3D-3UUHCIl6s_IEyIkDdLLakHdrqXXDilF7Cgdw1wbeMQ2YmhBE3VSUSqGjEiEO-iS1A7ZtAIgnaKnsgy9Trl2nJyFNydOJzmchL2wH2XWfSctpnlqUgELeF2B30PoFOJpyY-XZLyK6mTy7BFlRmOZnIAJzlFhKqTOPgkUgqgLwRCmpXH9HdBvHbTqxQNm1AL7oAZ_XL9lCFx1OGU7-955p-1GJ_Z3Zs5iQFpEb8KGpC8%23_%3D_&display=page&locale=vi_VN"><button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fab fa-facebook-f text-center"></i></button> </a>
                        <!--Google +-->
                        <a href="https://accounts.google.com/signin/oauth/oauthchooseaccount?client_id=864211180894-j6gi171f9qqiufgdes4u6qonq1aq32o2.apps.googleusercontent.com&as=GzM9OLiNovuNMMV4aFGwDg&destination=http%3A%2F%2Flocalhost%3A60976&approval_state=!ChRpYmRDNkIyRzFlUEh3OGNnTWlDTxIfUTBOTGpaRG9aMEFhNEJxcmlYbTVkb215VXVCbDZ4WQ%E2%88%99AJDr988AAAAAXeIuLXcZhPXY-C_tLP9isukCJ5ghUTDe&oauthgdpr=1&xsrfsig=ChkAeAh8T0I4b4hW0zQYyCbrUXBi2Ff3XwAKEg5hcHByb3ZhbF9zdGF0ZRILZGVzdGluYXRpb24SBXNvYWN1Eg9vYXV0aHJpc2t5c2NvcGU&flowName=GeneralOAuthFlow"><button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fab fa-google-plus-g"></i></button></a>
                        @*<button type="submit" data-onsuccess="onSignIn" id="Google" name="provider" class="btn btn-white btn-rounded z-depth-1a"><i class="fab fa-google-plus-g"></i></button>*@
                    </div>

                </div>

                <!--Footer-->
                <div class="modal-footer mx-5 pt-3 mb-1">
                    <p class="font-small grey-text d-flex justify-content-end">
                        Not a member? <a href="#" class="blue-text ml-1">
                            Sign Up
                        </a>
                    </p>
                </div>
            </div>
            <!--/.Content-->

        </div>
    </div>
    <!-- Modal -->
</form>
<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
</script>
