    @{
        Layout = "~/Views/Shared/_Layout - Contact.cshtml";

    }

    <!DOCTYPE html>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Create</title>
    </head>
    <body>
        <div class="contact-comment-section">
            <h3>ĐỂ LẠI BÌNH LUẬN</h3>
            <div id="form-messages"></div>
            <form id="contact-form" method="post">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Tên*</label>
                                <input name="fname" id="Fname" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Họ*</label>
                                <input name="Lname" id="Lname" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Email*</label>
                                <input name="email" id="Email" class="form-control" type="email">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Số Điện Thoại *</label>
                                <input id="Phonenumber" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Thông Điệp *</label>
                                <textarea cols="40" rows="10" id="Message" name="message" class="textarea form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <input class="btn-send" type="submit" id="btnSave" value="Xác Nhận">
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSave").click(function () {
            $.ajax(
                {
                    type: "POST",
                    url: "/api/ContactAPI/PostNewContact",
                    data: {
                        fname: $("#Fname").val(),
                        lname: $("#Lname").val(),
                        phonenumber: $("#Phonenumber").val(),
                        email: $("#Email").val(),
                        message: $("#Message").val()
                    },
                    success: function () {
                        alert('Đã Gửi Phản hồi');

                    },
                    error: function (error) {
                        alert(error);
                    }
                });

        });

    });
</script>

